{% extends 'IDSApiBundle::page.html.twig' %}

{% block content %}
<div>
                     
    {% set errors = response.hasErrors() %}

         {% if errors == true %}
    
             {{ include('IDSApiBundle:Default:error.html.twig', {'response': response }) }}  
    
         {% else %}
    
                {% set response = response.getObject() %}
           
           <div id='ids_response'>
               
           {% if response.results|length > 1 %}
                <!--// IdsPaginator::paginate($uri, $this->total_results, $this->page_size, $this->current);    //-->                    
           {% endif %} 
                     
           {% for object in response.results %}          
            
                <table width='100%'><tr><td width='110'>ID:{{ object.object_id }} </td><td>               
                           
             {% if response.getUri() != null %}
                <p style='color:grey;'>Publisher: <b>{{ object.publisher }}</b><br>
                Publication year: <b>{{ object.publication_year }}</b></p>
             {% endif %}
                
                Title: <a style='color:#070;' href='{{ object.website_url }}' target='_blank'>{{ object.title }}</a><br>
             
             {% if response.getUri() != null %}
                {{ object.description|raw }}
             {% endif %}
                {{ object.description|raw }}
                
             {% if object.urls != null %}
               
                <br>
                {% for url in object.urls %}
                    <br>View full report:<br><a style='color:#070' href='{{ url }}' target='_self'>{{ url }}</a><br>
                {% endfor %}
             {% endif %}
                </td></tr></table>
        {% endfor %}
        
        {% if response.results|length > 1 %}
                <!--// IdsPaginator::paginate($uri, $this->total_results, $this->page_size, $this->current);    //-->                    
        {% endif %}       
                                     
                   
        </div>
           
    {% endif %}
</div>      
{% endblock %}